USE [CLINERP]
GO
/****** Object:  StoredProcedure [AML].[R_FICHA_PROVEEDOR]    Script Date: 17/10/2017 19:31:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/****
Procedimiento para ficha integral  y declaracion jurada
***/
ALTER PROCEDURE [AML].[R_FICHA_PROVEEDOR]
	@CODIGO_PROVEEDOR VARCHAR(20)
AS

select 
RTRIM(proveedor.TIPO_PERSONA) as TIPO_PERSONA, 
-- canal de vinculacion
proveedor.NOMBRE_COMPLETO,
proveedor.ALIAS,
div2.NOMBRE_ZONA as DEPARTAMENTO,
div3.NOMBRE as MUNICIPIO,
--es contribuyente
pais.GENTILICIO,
proveedor.NUMERO_NIT AS NIT,
--proveedor.DOCUMENTO_UNICO AS DUI,
proveedor.REGISTRO_FISCAL,
proveedor.CORREO1,
proveedor.CORREO2,
--case when proveedor.VINCULO_PEP = '1' or proveedor.TIPO_PEP = '2' then CONVERT(bit,1) else CONVERT(bit,0) end AS ES_PEP, --[AS].TIPO_PEP
--FAX
proveedor.TELEFONO1,
proveedor.TELEFONO2,
proveedor.DIRECCION,
activ.NOMBRE_ACTIVIDAD,
proveedor.CONTACTO,
proveedor.LUGAR_NACIMIENTO,
proveedor.FECHA_NACIMIENTO,
proveedor.PASAPORTE,
proveedor.FECHA_INGRESO,
--proveedor.PROMEDIO_INGRESOS,
--proveedor.PROMEDIO_EGRESOS,
--- b. informacion persona natual y/o representante legal
---datos del representante
represen.NOMBRE_COMPLETO as [REPRESEN_NOMBRE],
represen.NOMBRES,
represen.APELLIDOS,
represen.GENERO as [REPRESEN_GENERO],
represen.DEPARTAMENTO as [REPRESEN_DEPARTAMENTO],
represen.MUNICIPIO as [REPRESEN_MUNICIPIO],
represen.GENTILICIO as [REPRESEN_NACIONALIDAD],
represen.DIRECCION as [REPRESEN_DIRECCION],
represen.TELEFONO1 as [REPRESEN_TELEFONO1],
represen.TELEFONO2 as [REPRESEN_TELEFONO2],
represen.TELEFONO3 as [REPRESEN_TELEFONO3],
represen.NOMBRE_EMPRESA as [REPRESEN_LTRABAJO], --LUGAR DE TRABAJO
represen.EMPRESA_DIRECCION as [REPRESEN_DIRECTRABAJ],
represen.EMPRESA_TELEFONO as [REPRESEN_TELTRABAJO],
represen.CORREO AS [REPRESEN_CORREO],
represen.estado_fam AS [REPRESEN_ESTADOF], --ESTADO FAMILIAR
represen.profesion AS [REPRESEN_PROFESION],
represen.LUGAR_NACIMIENTO as [REPRESEN_LUGARNAC],
represen.FECHA_NACIMIENTO as [REPRESEN_FECHANAC],
represen.PASAPORTE as [REPRESEN_PASAPORTE],
represen.CARNET_RESIDENTE as [REPRESEN_CARNET_RESIDENTE],
represen.DUI as [REPRESEN_DUI],
represen.NIT as [REPRESEN_NIT],
represen.EMPRESA_CORREO as [REPRESEN_EMPRESACORREO],
represen.F_EMISIONDUI as [REPRESEN_FEMISIONDUI],
represen.PROMEDIO_INGRESOS as [REPRESEN_INGRESOS],
represen.PROMEDIO_EGRESOS as [REPRESEN_EGRESOS]
 from CP.PROVEEDOR proveedor 
 LEFT OUTER JOIN [AS].DIVISION_GEOGRAFICA2 div2 ON div2.CODIGO_GEO2 = proveedor.DIVISION_GEOGRAFICA2
 LEFT OUTER JOIN [AS].DIVISION_GEOGRAFICA3 div3 ON div3.CODIGO_GEO3 = proveedor.DIVISION_GEOGRAFICA3
 LEFT OUTER JOIN [AS].PAIS pais on pais.CODIGO_PAIS = proveedor.PAIS_NACIMIENTO
 LEFT OUTER JOIN [AS].ACTIVIDAD_ECONOMICA activ on  activ.CODIGO_ACTIVIDAD = proveedor.CODIGO_ACTIVIDAD
 LEFT OUTER JOIN [AS].TIPO_PERSONA tip ON tip.TIPO_PERSONA = proveedor.TIPO_PERSONA
 LEFT OUTER JOIN 
 (select  a.CODIGO_CLIENTE,
			 a.NOMBRE_COMPLETO,  
			 a.PRIMER_NOMBRE +  ' ' + a.SEGUNDO_NOMBRE AS NOMBRES,
			 a.APELLIDO1 + ' ' + a.APELLIDO2 AS APELLIDOS,
			 c.DESCRIPCION as GENERO,
			 d.NOMBRE_ZONA as DEPARTAMENTO,
			 e.NOMBRE as MUNICIPIO,
			 a.DIRECCION,
			 a.FECHA_NACIMIENTO,
			 a.LUGAR_NACIMIENTO,
			 g.NOMBRE_EMPRESA,
			 g.DIRECCION as [EMPRESA_DIRECCION],
			 g.TELEFONO1 as [EMPRESA_TELEFONO],
			 g.EMAIL as [EMPRESA_CORREO],
			 f.GENTILICIO,
			 a.TELEFONO1,
			 a.TELEFONO2,
			 a.TELEFONO3,
			 a.DOCUMENTO_UNICO as DUI,
			 a.NUMERO_NIT as NIT,
			 A.PASAPORTE,
			 a.CORREO1 as CORREO,
			 h.NOMBRE AS estado_fam,
			 i.NOMBRE_PROFESION as profesion,
			 j.FECHA_EMISION as F_EMISIONDUI,
			 a.PROMEDIO_INGRESOS,
			 a.PROMEDIO_EGRESOS,
			 a.CARNET_RESIDENTE
			  from [FA].[CLIENTE] a
			LEFT OUTER JOIN [AS].TIPO_SEXO c on c.CODIGO_SEXO = a.GENERO
			LEFT OUTER JOIN [AS].DIVISION_GEOGRAFICA2 d ON d.CODIGO_GEO2 = a.DIVISION_GEOGRAFICA2
			LEFT OUTER JOIN [AS].DIVISION_GEOGRAFICA3 e ON e.CODIGO_GEO3 = a.DIVISION_GEOGRAFICA3
			LEFT OUTER JOIN [AS].PAIS f on f.CODIGO_PAIS = a.PAIS_NACIMIENTO
			LEFT OUTER JOIN [AS].EMPRESA g ON g.CODIGO_EMPRESA = a.CODIGO_EMPRESA
			LEFT OUTER JOIN [AS].ESTADO_FAMILIAR h on h.CODIGO_ESTADO = a.ESTADO_FAMILIAR
			LEFT OUTER JOIN [AS].PROFESIONES i ON i.CODIGO_PROFESION = a.CODIGO_PROFESION
			LEFT OUTER JOIN (SELECT t.* FROM [FA].CLIENTE_DOCUMENTOS t WHERE t.ACTIVO = 1 ) AS 
			j ON j.CODIGO_CLIENTE = a.CODIGO_CLIENTE AND a.DOCUMENTO_UNICO = j.NUMERO
			) 
			as represen on represen.CODIGO_CLIENTE = proveedor.REPRESENTANTE_LEGAL
			WHERE proveedor.CODIGO_PROVEEDOR = @CODIGO_PROVEEDOR
